# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle
build.gradle

# other
eclipse
run

gradlew
gradlew.bat
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
build.bat
clean.bat
setup eclipse.bat
workspace.bat
forge-*-changelog.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt